@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-void-black: var(--void-black);
  --color-arca-gold: var(--arca-gold);
  --color-holo-blue: var(--holo-blue);
  --color-glass-white: var(--glass-white);

  --font-heading: var(--font-outfit);
  --font-body: var(--font-inter);
}

:root {
  --background: #050505;
  --foreground: #ededed;

  --void-black: #050505;
  --arca-gold: #C5A059;
  --holo-blue: rgba(0, 255, 255, 0.1);
  --glass-white: rgba(255, 255, 255, 0.05);
}

body {
  font-family: var(--font-body);
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--void-black);
}

::-webkit-scrollbar-thumb {
  background: var(--arca-gold);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E5C079;
}